*.d
ccleste
ccleste-fixedp
a.out
*.o
data-old/
build/
*.3dsx
*.elf
*.smdh
win-build/
em-build/
ccleste-win.zip
ccleste-input-cfg.txt
ccleste-start-fullscreen.txt
/.vs
/uwp/CelesteClassic-UWP/.vs/CelesteClassic-UWP
/uwp/CelesteClassic-UWP/x64
